.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans Condensed", Verdana, Arial, sans-serif;
  color: #4b4b4b;
}

/* Style the header */
.header {
  grid-area: header;
  background-color: #f1f1f1;
  padding: 0px;
  text-align: center;
  font-size: 35px;
}

.left,
.right {
  padding: 10px;
  height: 600px; /* Should be removed. Only for demonstration */
  width: 500px; /* Should be removed. Only for demonstration */
}
.middle {
  padding: 10px;
  height: 600px; /* Should be removed. Only for demonstration */
}
/* Style the left column */
.left {
  grid-area: left;
}

/* Style the middle column */
.middle {
  grid-area: middle;
}

/* Style the right column */
.right {
  grid-area: right;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

/* Style the footer */
.footer {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.width-span33 {
  width: 33%;
}

/*FaceRectangle CSS*/
.jzmUzU {
  border: 3px solid #eb5648 !important;
}
svg.recharts-surface {
  width: 800 !important;
  height: 300 !important;
}

/* ============ Start style for slider all kind, player pointer, zoom pointer ==========*/

.slider-annotation-timeline-pointer {
  -webkit-appearance: none;
  width: 1500px;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider-annotation-timeline-pointer:hover {
  opacity: 1;
}

.slider-annotation-timeline-pointer::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 130px;
  background: #a20000;
  cursor: pointer;
}

.slider-annotation-timeline-pointer::-moz-range-thumb {
  width: 5px;
  height: 130px;
  background: #a20000;
  cursor: pointer;
}

/* ============ End style for slider ==========*/

/* ============ Zoom slider style ==========*/
.zoom-slider {
  -webkit-appearance: none;
  width: 67%;
  height: 10px;
  border-radius: 5px;
  background: grey;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.zoom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 20%;
  background: #af1414;
  cursor: pointer;
}
.zoom-slider::-moz-range-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 20%;
  background: #af1414;
  cursor: pointer;
}

/* ============ Start style for Search ==========*/
div.search input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

div.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #af1414;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

div.search button:hover {
  background: #8f1414;
}

button.tib-theme-red {
  background: #af1414;
  border-color: #af1414;
}
button.tib-theme:hover {
  background: #8f1414;
}

div.search::after {
  content: "";
  clear: both;
  display: table;
}
/* ============ End style for Search ==========*/

.tibava-logo {
  padding: 5px;
  width: 110px;
}

.bg-rad-3 {
  border-radius: 3px;
}

/* ============ Margins or paddings ==========*/
.mrg-cb {
  margin: 5px;
}
.div-width-cb {
  width: 60%;
}
.cd-padding {
  padding-right: 5px;
  padding-left: 5px;
}
.mrg-sides {
  margin-right: 15px;
  margin-left: 15px;
}
.pd-tittle {
  padding-top: 90px;
  padding-bottom: 0px;
}
.pd-player-tittle {
  padding-top: 50px;
  padding-bottom: 0px;
}
.pd-search {
  padding-top: 0px;
  padding-bottom: 15px;
}
.pd-lg-txt {
  padding-top: 0px;
  padding-left: 5px;
  padding-bottom: 0px;
  margin-top: 32px;
  /* font-size: 20px; */
  color: #4a4a4a;
}

.pd-fa-icon {
  padding: 3px;
}

.pd-cb {
  padding: 5px;
}

.bg-cb-bl {
  background-color: #4897d2;
}
.bg-cb-gr {
  background-color: #28a745;
}
.bg-cb-yl {
  background-color: #ffcc00;
}

.scene-timeline-buffer {
  background-color: #ffffff;
}
.scene-timeline-a {
  background-color: #f1f1f1;
  border: 1px solid #4d4d4d;
  cursor: pointer;
}
.scene-timeline-a:hover {
  background: #4a4a4a;
}
.table-border-collapse {
  border-collapse: collapse;
}

/* ============ Start style for shot frame ==========*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltiptext {
  visibility: visible;
  width: 100px;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px 0;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
  margin-bottom: 20px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 2;
  transition: opacity 1s;
}

.scene-timeline-a:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* ============ End style for shot frame ==========*/

/* ============ Start style for anchors ==========*/
a.video-links {
  color: #af1414;
  text-decoration: none;
  background-color: transparent;
}
a.video-links:hover {
  color: #8f1414;
}

/* ============ Start style for tabs ==========*/
/* Style the tab */
.tab {
  overflow: hidden;
  background-color: white;
}
.tab-font-lg {
  font-size: 20px !important;
}
/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none !important;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  padding: 7px 8px;
  transition: 0.3s;
  font-size: 13px;
  font-weight: 600;
  color: #af1414;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #4b4b4b;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: white;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid white;
  border-radius: 5px 5px 0px 0px;
  color: grey;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: none;
}

/* ============ Start style for input form ==========*/
.form-input {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0px 0px 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-input-sm {
  width: 120px;
  padding: 12px 20px;
  margin: 8px 0px 0px 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.disabled-input {
  pointer-events: none;
  background-color: #d9d9d9;
}
.btn-stl {
  width: 150px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.bg-btn-gr {
  background-color: #4caf50;
}
.form-input:hover {
  background-color: #ffe6e6;
}

.display-hidden {
  visibility: hidden;
}
.display-visible {
  visibility: visible;
}

/* ============ Metadata related ==========*/

.div-table-annotation {
  overflow-y: scroll;
  height: 331px;
}
.table-annotation {
  width: 100%;
  margin: 0;
  padding: 0;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  font-size: 13px;
}
.table-td-annotation {
  cursor: pointer;
}
.table-th-annotation {
  background: #ccc;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 12;
}
.table-th-col-annotation {
  background: #ccc;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.table-th-fix-annotation {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
}

ul.annotation {
  width: 100%;
  /*height: 375px;*/
  position: relative;
  overflow: scroll;
  margin: 0;
  padding: 0;
  /*border: 2px solid #ccc;*/
  font-size: 13px;
  -webkit-overflow-scrolling: touch;
}
li.annotation {
  cursor: pointer;
}
/* ============ Image padding and margin ==========*/
.border-down {
  border-bottom: 1px solid dimgray;
}
.text-color {
  color: #4b4b4b;
}

.tab-box {
  width: 100%;
  height: 400px;
}
.img-shot-frame {
  padding: 3px;
  width: 100px;
  height: 70px;
}
.img-video-frame {
  padding: 3px;
  width: 80px;
  height: 70px;
}
.img-face-frame {
  padding: 3px;
  width: 120px;
  height: 85px;
}
.no-outline {
  outline: none !important;
}

/*=========== Accordion CSS*/
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px;
  margin-top: 10 px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: "\003e";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "";
}

.panel {
  padding: 0px;
  margin-bottom: 0px;
  background-color: white;
  max-height: 40px;
  transition: max-height 0.2s ease-out;
}
.pos-sticky {
  position: relative;
}
.pos-relative {
  position: relative;
}
.pos-absolute {
  position: absolute;
}
.z-n5 {
  z-index: -5;
}
/*========Sidebar==*/
.tib-theme-red {
  background-color: #af1414;
}
.tib-theme-red-light {
  background-color: #af1414;
  opacity: 0.7;
}
.tib-theme-blue {
  background-color: #4897d2;
}

.tib-theme-grey {
  background-color: grey;
}

.tib-theme-yellow {
  background-color: #ffcc00;
}
.tib-theme-yellow-light {
  background-color: #fdd741;
}
.tib-theme-yellow-dark {
  background-color: #e9ba00;
}

/*========Chart css==*/

/* for annotations tags as buttons*/
.annotation-tags-btn {
  background-color: #c9d8f3; /* Green */
  border: none;
  color: #003fa6;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  display: relative;
  font-size: 11px;
  margin: 3px;
  cursor: pointer;
  border-radius: 30%;
}

/*============ The Modal (background) ===============*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40% !important;
}
.modal-content-sm {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25% !important;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/*============ just colors ===============*/
.red {
  color: red;
}
.green {
  color: green;
}

.blue {
  color: blue;
}

/* ========== text colors */
.text-color-red {
  color: red;
}
.text-color-theme-red {
  color: #af1414;
}
.text-color-theme-yellow {
  color: #ffcc00;
}
.text-color-green {
  color: green;
}
.text-color-grey {
  color: grey;
}

.border-hr {
  border: 1px solid grey;
}
div.wrap-text {
  max-width: 150px;
}

div.wrap-text span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}

div.wrap-text span:hover {
  background-color: #bde5f8;
  overflow: visible;
  white-space: normal;
  height: auto;
  /* just added this line */
}

/*  Drop down*/
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*Slider for face filter range:*/
.face-range-slider-slidecontainer {
  width: 100%;
}

.face-range-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.face-range-slider:hover {
  opacity: 1;
}
.face-range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4897d2;
  cursor: pointer;
}
.face-range-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4897d2;
  cursor: pointer;
}

.range-slider-theme-red::-webkit-slider-thumb {
  background: #af1414 !important;
}
.range-slider-theme-red::-moz-range-thumb {
  background: #af1414 !important;
}
.list-item-pointer {
  cursor: pointer;
}
.menu-item {
  font-weight: normal !important;
}

.timeline-heading {
  font-weight: normal !important;
}

.border-top {
  border-top: 1px solid;
}
.border-bottom {
  border-bottom: 1px solid;
}
.border-left {
  border-left: 1px solid;
}
.border-right {
  border-right: 1px #ccc;
}
